<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div id="user">
            <form method="post" action="/user/join">
                <label>이름</label> 
                <input name="name" type="text" value=""> 
                <label>이메일</label> 
                <input id="email" name="email" type="text" value="">
                <label>패스워드</label> 
                <input name="password" type="password" value="">

                <input type="submit" value="가입하기">

            </form>
        </div>
    </div>
</body>
</html>